body {
  font-family: Arial;
  background-color: palegreen;
}

h1 {
  font-size: 90px;
  text-align: center;
  background-color: purple;
  color: white;
  border-radius: 30px;
  max-width: 1500px;
  margin: 10px auto 150px;
  padding: 50px 0;
}
.loadPopUp {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.enterNames {
  width: 80%;
  max-width: 600px;
  height: 370px;
  background-color: purple;
  border-radius: 20px;
  position: absolute;
  inset: 0;
  margin: auto;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.playerInstruction {
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.playerName {
  background-color: transparent;
  padding: 15px 10px 15px 20px;
  margin-left: 10px;
  font-size: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
}
.startBtn {
  background-color: white;
  border-style: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.startBtn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.1) translateY(-6px);
  transition: all 0.2s;
}
.startBtn:active {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1) translateY(-2px);
  transition: all 0.2s;
}
.warningNote {
  color: rgb(255, 34, 34);
  font-size: 14px;
  font-weight: bold;
}
#game {
  display: flex;
  align-items: center;
  justify-content: center;
}
.players {
  position: absolute;
  left: 0;
  top: 514px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: purple;
  color: white;
  max-width: 350px;
  width: 90%;
  height: 180px;
  padding-left: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.2s;
}
.player {
  font-size: 22px;
  font-weight: bold;
}
#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.cell {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color: purple;
  border-width: 5px;
}
.one {
  border-top-color: transparent;
  border-left-color: transparent;
}
.two {
  border-top-color: transparent;
}
.three {
  border-top-color: transparent;
  border-right-color: transparent;
}
.four {
  border-left-color: transparent;
}
.six {
  border-right-color: transparent;
}
.seven {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.eight {
  border-bottom-color: transparent;
}
.nine {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.XO {
  font-size: 110px;
  text-align: center;
}
#winnerPopUp {
  display: none;
  position: absolute;
  inset: 0;
  height: 100vh;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  font-size: 76px;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.note {
  color: rgb(200, 200, 200);
  font-size: 30px;
  font-weight: bold;
}
@media screen and (max-width: 1240px) and (min-width: 1121px) {
  .players {
    max-width: 300px;
    transition: all 0.2s;
  }
  .player {
    font-size: 20px;
    font-weight: bold;
  }
  #winnerPopUp {
    font-size: 68px;
  }
}
@media screen and (max-width: 1120px) and (min-width: 768px) {
  h1 {
    font-size: 70px;
    border-radius: 20px;
    max-width: 900px;
    transition: all 0.2s;
  }
  #game {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
  .players {
    max-width: 280px;
    height: 160px;
    top: 435px;
    transition: all 0.2s;
  }
  .player {
    font-size: 18px;
    transition: all 0.2s;
  }

  .cell {
    width: 110px;
    height: 110px;
    border-width: 3px;
    transition: all 0.2s;
  }
  .XO {
    font-size: 80px;
    transition: all 0.2s;
  }
  #winnerPopUp {
    font-size: 54px;
  }
  .note {
    font-size: 25px;
  }
}
@media screen and (max-width: 970px) and (min-width: 901px) {
  .players {
    max-width: 250px;
    transition: all 0.2s;
  }
  .player {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) and (min-width: 510px) {
  h1 {
    font-size: 80px;
    border-radius: 30px;
    max-width: 800px;
    margin-bottom: 30px;
  }
  #game {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .players {
    max-width: 500px;
    height: 200px;
    position: static;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.2s;
  }
  .player {
    font-size: 26px;
    transition: all 0.2s;
  }
  #board {
    margin-bottom: 20px;
  }
  .cell {
    width: 125px;
    height: 125px;
    border-width: 5px;
    transition: all 0.2s;
  }
  .XO {
    font-size: 80px;
    transition: all 0.2s;
  }
  #winnerPopUp {
    font-size: 40px;
  }
  .note {
    font-size: 22px;
  }
}
@media screen and (max-width: 509px) {
  h1 {
    font-size: 55px;
    max-width: 500px;
    margin-bottom: 50px;
  }
  .enterNames {
    width: 90%;
    max-width: 430px;
    height: 300px;
    font-size: 18px;
  }
  .playerInstruction {
    padding: 10px 0px;
  }
  .playerName {
    padding: 8px 0 8px 5px;
    margin-left: 7px;
    font-size: 13px;
  }
  #game {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .players {
    max-width: 500px;
    height: 180px;
    position: static;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.2s;
  }
  .player {
    font-size: 26px;
    transition: all 0.2s;
  }
  #board {
    margin-bottom: 50px;
  }
  .cell {
    width: 100px;
    height: 100px;
    border-width: 5px;
    transition: all 0.2s;
  }
  .XO {
    font-size: 80px;
  }
  #winnerPopUp {
    font-size: 26px;
  }
  .note {
    font-size: 18px;
  }
}
